@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Areas/Login/CSS/welcome.css" rel="stylesheet" type="text/css" />
    <title>Welcome</title>
    <style>
    </style>
</head>
<body>
    <div class="htmleaf-container">
        <div class="wrapper">
            <div class="container">
                <h1>Welcome</h1>
                <h1>One Of Final Family</h1>
                <h2 style="font-family:'Microsoft YaHei UI';margin:150px auto;">为追求完美而执着</h2>
            </div>
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>


</body>
</html>
