@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>前后台选择页面</title>
    <link href="~/Boostrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/index.css" rel="stylesheet" />
</head>
<body>
    <div id="divArea">
        <div><a class="btn btn-primary btn-large" href="~/JoinUs/BeginTest/Index">测评系统【前台】</a></div>
        <div><a class="btn btn-primary btn-large" href="~/JoinUs/QuestionManage/Index/1">后台管理【后台】</a></div>
    </div>
</body>
</html>
